{% extends 'base.html' %}
{% load static %}

{% block title %}Ajouter un objet à louer{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/add_object.css' %}">
{% endblock %}

{% block content %}
<div class="add-object-container">
  <h2>Ajouter un objet à louer</h2>
  <form method="post" enctype="multipart/form-data" class="add-object-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
{% endblock %}
