<!-- templates/demande_remboursement.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/demande_remboursement.css' %}">
{% endblock %}


{% block title %}Demande de remboursement{% endblock %}

{% block content %}
<div class="refund-container">
  <h2>Demande de remboursement</h2>
  <p class="refund-amount"><strong>Montant :</strong> {{ paiement.montant_total }} €</p>

  <form method="post" class="refund-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">Envoyer la demande</button>
  </form>
</div>
{% endblock %}

